# Durg Classification

## To predict which type of drug should be prescribed to the patient.

### Feature engineering

In [19]:
import pandas as pd
import numpy as np

In [20]:
data_frame=pd.read_csv('Drug200.csv')

In [21]:
data_frame.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [22]:
#coverting categorical features to numerical features.
for cols in data_frame.columns:
    if data_frame[cols].dtype=='O':
        rank=data_frame[cols].value_counts(ascending=True).index
        mapping={i:k for k,i in enumerate(rank,0)}
        data_frame[cols]=data_frame[cols].map(mapping)

In [23]:
data_frame.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   2            1   25.355     4
1   47    1   1            1   13.093     0
2   47    1   1            1   10.114     0
3   28    0   0            1    7.798     3
4   61    0   1            1   18.043     4

In [24]:
#covert the values of 'Na_to_K' feature to log values.
data_frame['Na_to_K']=np.log(data_frame['Na_to_K'])

In [25]:
data_frame.head()

   Age  Sex  BP  Cholesterol   Na_to_K  Drug
0   23    0   2            1  3.232976     4
1   47    1   1            1  2.572078     0
2   47    1   1            1  2.313921     0
3   28    0   0            1  2.053867     3
4   61    0   1            1  2.892758     4

In [26]:
#scaling the values using MinMaxScaler.
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler=MinMaxScaler()
data=data_frame.drop(['Drug'],axis=1)
scaler.fit(data)

MinMaxScaler()

In [28]:
scaler.transform(data)

array([[0.13559322, 0.        , 1.        , 1.        , 0.77268403],
       [0.54237288, 1.        , 0.5       , 1.        , 0.40723359],
       [0.54237288, 1.        , 0.5       , 1.        , 0.26448296],
       [0.22033898, 0.        , 0.        , 1.        , 0.12068382],
       [0.77966102, 0.        , 0.5       , 1.        , 0.58455692],
       [0.11864407, 0.        , 0.        , 1.        , 0.17526571],
       [0.57627119, 0.        , 0.        , 1.        , 0.52753145],
       [0.44067797, 1.        , 0.5       , 1.        , 0.31277445],
       [0.76271186, 1.        , 0.        , 1.        , 0.48868904],
       [0.47457627, 1.        , 0.5       , 0.        , 0.62374212],
       [0.54237288, 0.        , 0.5       , 1.        , 0.3481892 ],
       [0.3220339 , 0.        , 1.        , 0.        , 0.61889597],
       [0.47457627, 1.        , 0.5       , 1.        , 0.49611095],
       [1.        , 0.        , 0.5       , 1.        , 0.66694739],
       [0.59322034, 0.        , 0.        , 1.        , 0.39051232],
       [0.01694915, 0.        , 1.        , 0.        , 0.50112293],
       [0.91525424, 1.        , 0.5       , 0.        , 0.33332967],
       [0.47457627, 1.        , 1.        , 1.        , 0.44316362],
       [0.13559322, 1.        , 0.5       , 1.        , 0.08404083],
       [0.28813559, 0.        , 1.        , 0.        , 0.78602148],
       [0.71186441, 1.        , 0.5       , 0.        , 0.61684727],
       [0.81355932, 1.        , 0.        , 1.        , 0.78480667],
       [0.54237288, 1.        , 0.5       , 0.        , 0.8760753 ],
       [0.55932203, 0.        , 0.5       , 1.        , 0.48374647],
       [0.30508475, 0.        , 0.5       , 1.        , 0.92649075],
       [0.22033898, 0.        , 1.        , 0.        , 0.60754772],
       [0.27118644, 1.        , 1.        , 1.        , 0.87240909],
       [0.57627119, 0.        , 0.        , 0.        , 0.22288142],
       [0.40677966, 0.        , 0.5       , 0.        , 0.71144745],
       [0.50847458, 1.        , 0.5       , 1.        , 0.5817302 ],
       [0.05084746, 0.        , 0.        , 0.        , 0.18437732],
       [1.        , 1.        , 1.        , 1.        , 0.23373786],
       [0.57627119, 1.        , 0.5       , 0.        , 0.31162093],
       [0.84745763, 0.        , 1.        , 0.        , 0.89924415],
       [0.6440678 , 1.        , 0.        , 1.        , 0.44949897],
       [0.52542373, 1.        , 0.        , 0.        , 0.08305495],
       [0.28813559, 1.        , 1.        , 0.        , 0.22664107],
       [0.40677966, 1.        , 0.5       , 0.        , 0.44181638],
       [0.40677966, 0.        , 0.        , 0.        , 0.24188496],
       [0.        , 1.        , 0.        , 1.        , 0.20509172],
       [0.98305085, 0.        , 0.        , 1.        , 0.61952924],
       [0.72881356, 0.        , 1.        , 0.        , 0.45363079],
       [0.59322034, 1.        , 0.        , 0.        , 0.51080254],
       [0.13559322, 1.        , 0.        , 1.        , 0.3708843 ],
       [0.59322034, 0.        , 0.        , 0.        , 0.37246065],
       [0.86440678, 0.        , 0.        , 0.        , 0.14217218],
       [0.37288136, 0.        , 1.        , 1.        , 0.40714912],
       [0.89830508, 1.        , 0.5       , 1.        , 0.27407633],
       [0.13559322, 1.        , 0.        , 1.        , 0.89593831],
       [0.22033898, 0.        , 0.5       , 1.        , 0.63582855],
       [0.72881356, 0.        , 1.        , 1.        , 0.62511084],
       [0.88135593, 1.        , 0.        , 0.        , 0.30576624],
       [0.79661017, 1.        , 0.5       , 0.        , 0.81117881],
       [0.15254237, 0.        , 1.        , 0.        , 0.59710132],
       [0.89830508, 0.        , 1.        , 0.        , 0.26856829],
       [0.18644068, 0.        , 0.5       , 1.        , 0.45055435],
       [0.84745763, 1.        , 1.        , 0.        , 0.32775029],
       [0.42372881, 1.        , 1.        , 1.        , 0.8241065 ],
       [0.76271186, 1.        , 0.        , 0.        , 0.26322405],
       [0.3220339 , 1.        , 1.        , 1.        , 0.60442264],
       [0.38983051, 0.        , 0.5       , 0.        , 0.86339498],
       [0.15254237, 1.        , 1.        , 0.        , 0.22839464],
       [0.88135593, 1.        , 0.5       , 0.        , 0.66033331],
       [0.50847458, 1.        , 0.5       , 0.        , 0.15982599],
       [0.76271186, 0.        , 1.        , 1.        , 0.4160322 ],
       [0.89830508, 0.        , 0.        , 0.        , 0.80846667],
       [0.23728814, 1.        , 1.        , 1.        , 0.39713261],
       [0.03389831, 1.        , 0.        , 0.        , 0.30240725],
       [0.66101695, 1.        , 0.        , 1.        , 0.75727051],
       [0.05084746, 0.        , 1.        , 0.        , 0.74863704],
       [0.93220339, 1.        , 1.        , 1.        , 0.4429657 ],
       [0.22033898, 0.        , 0.        , 1.        , 0.63243829],
       [0.15254237, 0.        , 0.        , 1.        , 0.29069603],
       [0.44067797, 0.        , 0.        , 0.        , 0.71649181],
       [0.27118644, 1.        , 1.        , 0.        , 0.55387103],
       [0.18644068, 1.        , 0.5       , 0.        , 0.66607536],
       [0.3559322 , 0.        , 1.        , 1.        , 0.32078238],
       [0.18644068, 0.        , 1.        , 0.        , 0.61780042],
       [0.06779661, 0.        , 1.        , 1.        , 0.41644771],
       [0.28813559, 0.        , 0.5       , 0.        , 0.30281549],
       [0.76271186, 1.        , 1.        , 1.        , 0.44165767],
       [0.83050847, 1.        , 0.        , 1.        , 0.11805388],
       [0.28813559, 0.        , 0.5       , 1.        , 0.24205579],
       [0.38983051, 0.        , 1.        , 0.        , 0.3270672 ],
       [0.54237288, 0.        , 0.5       , 1.        , 0.26190735],
       [0.74576271, 1.        , 1.        , 1.        , 0.44169735],
       [0.61016949, 0.        , 0.        , 1.        , 0.4281197 ],
       [0.91525424, 1.        , 0.5       , 1.        , 0.49976702],
       [0.37288136, 0.        , 1.        , 0.        , 0.72096399],
       [0.59322034, 0.        , 0.        , 0.        , 0.55845217],
       [0.79661017, 1.        , 0.        , 1.        , 0.53826496],
       [0.44067797, 1.        , 1.        , 0.        , 0.48814205],
       [0.23728814, 0.        , 1.        , 1.        , 0.85547211],
       [0.45762712, 0.        , 0.5       , 0.        , 0.85210091],
       [0.69491525, 1.        , 0.5       , 1.        , 0.48297364],
       [0.3559322 , 1.        , 0.5       , 0.        , 0.3318312 ],
       [0.72881356, 0.        , 0.5       , 1.        , 1.        ],
       [0.69491525, 0.        , 1.        , 1.        , 0.77355569],
       [0.08474576, 1.        , 1.        , 0.        , 0.96094741],
       [0.        , 0.        , 1.        , 0.        , 0.54261312],
       [0.27118644, 1.        , 1.        , 0.        , 0.35305494],
       [0.50847458, 0.        , 1.        , 1.        , 0.39704658],
       [0.22033898, 0.        , 0.5       , 1.        , 0.40866766],
       [0.69491525, 1.        , 0.        , 1.        , 0.19786178],
       [0.11864407, 1.        , 1.        , 0.        , 0.83332929],
       [0.37288136, 1.        , 0.5       , 0.        , 0.19798511],
       [0.11864407, 1.        , 0.        , 1.        , 0.35686143],
       [0.45762712, 1.        , 0.5       , 1.        , 0.64185701],
       [0.96610169, 1.        , 1.        , 0.        , 0.24005944],
       [0.13559322, 1.        , 0.        , 1.        , 0.54673049],
       [0.59322034, 1.        , 1.        , 1.        , 0.09840035],
       [0.54237288, 0.        , 0.        , 0.        , 0.03536188],
       [0.33898305, 1.        , 0.5       , 0.        , 0.21030208],
       [0.84745763, 0.        , 0.5       , 0.        , 0.43507069],
       [0.08474576, 0.        , 0.        , 0.        , 0.21695531],
       [0.61016949, 1.        , 1.        , 1.        , 0.59222647],
       [0.88135593, 1.        , 0.        , 0.        , 0.23066601],
       [0.42372881, 0.        , 0.        , 1.        , 0.26388123],
       [0.28813559, 0.        , 1.        , 0.        , 0.27413006],
       [0.77966102, 0.        , 1.        , 1.        , 0.7752949 ],
       [0.22033898, 1.        , 0.        , 1.        , 0.80875279],
       [0.        , 1.        , 1.        , 0.        , 0.5582915 ],
       [0.3220339 , 1.        , 0.        , 1.        , 0.70554464],
       [0.3559322 , 0.        , 0.        , 1.        , 0.54353808],
       [0.6440678 , 0.        , 1.        , 0.        , 0.38138316],
       [0.06779661, 0.        , 1.        , 0.        , 0.78591502],
       [0.86440678, 1.        , 1.        , 1.        , 0.52997233],
       [0.33898305, 1.        , 0.        , 0.        , 0.12400661],
       [0.54237288, 1.        , 0.5       , 0.        , 0.92741471],
       [0.28813559, 0.        , 0.        , 1.        , 0.09743977],
       [0.93220339, 0.        , 0.        , 1.        , 0.65485495],
       [0.62711864, 1.        , 0.5       , 0.        , 0.91709799],
       [0.57627119, 1.        , 0.5       , 0.        , 0.42816036],
       [0.15254237, 1.        , 0.        , 1.        , 0.78200459],
       [0.45762712, 0.        , 1.        , 1.        , 0.66942385],
       [1.        , 1.        , 0.5       , 0.        , 0.3562134 ],
       [0.6779661 , 0.        , 1.        , 1.        , 0.30976021],
       [0.33898305, 0.        , 1.        , 1.        , 0.39876465],
       [0.61016949, 1.        , 1.        , 0.        , 0.32789656],
       [0.91525424, 0.        , 0.        , 1.        , 0.26179748],
       [0.57627119, 1.        , 1.        , 0.        , 0.        ],
       [0.83050847, 0.        , 0.5       , 0.        , 0.78103876],
       [0.76271186, 1.        , 1.        , 0.        , 0.17616442],
       [1.        , 1.        , 1.        , 0.        , 0.49826451],
       [0.40677966, 1.        , 1.        , 1.        , 0.2393161 ],
       [0.77966102, 1.        , 0.        , 1.        , 0.22652397],
       [0.37288136, 0.        , 0.5       , 0.        , 0.35930786],
       [0.18644068, 0.        , 1.        , 0.        , 0.37300008],
       [0.77966102, 0.        , 0.5       , 0.        , 0.08721399],
       [0.11864407, 1.        , 0.5       , 1.        , 0.14516521],
       [0.57627119, 1.        , 1.        , 0.        , 0.18120849],
       [0.89830508, 1.        , 1.        , 1.        , 0.31136985],
       [0.6779661 , 1.        , 0.        , 0.        , 0.08123025],
       [0.96610169, 0.        , 0.5       , 0.        , 0.4690636 ],
       [0.37288136, 1.        , 0.5       , 0.        , 0.54258005],
       [0.57627119, 1.        , 0.5       , 1.        , 0.287139  ],
       [0.27118644, 1.        , 1.        , 0.        , 0.32221256],
       [0.6440678 , 1.        , 0.5       , 1.        , 0.71789024],
       [0.74576271, 0.        , 0.5       , 1.        , 0.28223688],
       [0.3220339 , 0.        , 0.5       , 0.        , 0.40000692],
       [0.25423729, 0.        , 0.        , 1.        , 0.28218393],
       [0.71186441, 0.        , 1.        , 0.        , 0.2551652 ],
       [0.47457627, 1.        , 0.        , 0.        , 0.39726163],
       [0.10169492, 0.        , 1.        , 0.        , 0.83989581],
       [0.01694915, 1.        , 1.        , 0.        , 0.61333824],
       [0.38983051, 1.        , 0.5       , 1.        , 0.59222647],
       [0.72881356, 0.        , 0.5       , 1.        , 0.80012499],
       [0.71186441, 0.        , 0.        , 1.        , 0.45273689],
       [0.61016949, 0.        , 0.5       , 0.        , 0.71885263],
       [0.08474576, 0.        , 1.        , 1.        , 0.32393372],
       [0.22033898, 0.        , 0.        , 1.        , 0.39812099],
       [0.50847458, 1.        , 0.5       , 0.        , 0.25915411],
       [0.40677966, 0.        , 0.        , 0.        , 0.55890178],
       [0.44067797, 0.        , 0.5       , 0.        , 0.60548597],
       [0.45762712, 1.        , 1.        , 0.        , 0.39324793],
       [0.98305085, 0.        , 1.        , 1.        , 0.59382607],
       [0.55932203, 1.        , 1.        , 0.        , 0.28234276],
       [0.16949153, 1.        , 0.        , 1.        , 0.6134546 ],
       [0.40677966, 1.        , 0.        , 1.        , 0.51703579],
       [0.88135593, 0.        , 0.        , 1.        , 0.51432826],
       [0.11864407, 0.        , 1.        , 0.        , 0.7143875 ],
       [0.74576271, 0.        , 0.        , 1.        , 0.43966989],
       [0.08474576, 0.        , 0.5       , 0.        , 0.34436965],
       [0.3559322 , 0.        , 1.        , 0.        , 0.50019556],
       [0.05084746, 0.        , 1.        , 1.        , 0.98447343],
       [0.71186441, 0.        , 0.        , 0.        , 0.78429438],
       [0.93220339, 1.        , 1.        , 1.        , 0.24980149],
       [0.54237288, 1.        , 1.        , 1.        , 0.28006185],
       [0.84745763, 1.        , 1.        , 0.        , 0.95089559],
       [0.83050847, 1.        , 1.        , 0.        , 0.66668329],
       [0.72881356, 1.        , 1.        , 1.        , 0.61287256],
       [0.13559322, 1.        , 1.        , 1.        , 0.13558516],
       [0.96610169, 1.        , 0.5       , 1.        , 0.52871933],
       [0.96610169, 1.        , 0.5       , 1.        , 0.04243224],
       [0.52542373, 0.        , 1.        , 1.        , 0.94595976],
       [0.69491525, 0.        , 0.5       , 1.        , 0.33870992],
       [0.01694915, 1.        , 0.5       , 1.        , 0.35930786],
       [0.62711864, 1.        , 0.        , 1.        , 0.25232221],
       [0.13559322, 1.        , 0.        , 0.        , 0.44506002],
       [0.42372881, 0.        , 0.5       , 0.        , 0.32818897]])

In [29]:
transformed_data=pd.DataFrame(scaler.transform(data),columns=data.columns)

In [30]:
modified_data=pd.concat([transformed_data,data_frame[['Drug']]],axis=1)

In [31]:
modified_data.head()

        Age  Sex   BP  Cholesterol   Na_to_K  Drug
0  0.135593  0.0  1.0          1.0  0.772684     4
1  0.542373  1.0  0.5          1.0  0.407234     0
2  0.542373  1.0  0.5          1.0  0.264483     0
3  0.220339  0.0  0.0          1.0  0.120684     3
4  0.779661  0.0  0.5          1.0  0.584557     4

In [32]:
#saving the data to csv file.
modified_data.to_csv('modified_data.csv',index=False)